---
import { getContentJsonLang } from "@/services/langJson";

interface Props {
  lang: string;
}

const { lang } = Astro.props;
const langData = getContentJsonLang("header", lang);
const toggleLang = lang === "es" ? "en" : "es";
---

<header
  id="main-header"
  class="bg-transparent text-white p-4 lg:p-2 fixed w-full z-20 shadow-md transition-colors duration-300"
>
  <div class="container mx-auto flex justify-between items-center">
    <a href="/">
      <img
        src="https://res.cloudinary.com/dvggwdqnj/image/upload/v1734466484/logos/ilswi1k9e87ud8eikato.png"
        alt="Company Logo"
        class="w-36 lg:w-40 h-auto object-contain rounded-lg"
      />
    </a>
    <button
      id="menu-toggle"
      class="lg:hidden text-white focus:outline-none focus:ring-2 focus:ring-secondaryC-orange transition transform hover:scale-110"
    >
      <svg
        class="w-8 h-8"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <nav
      id="menu"
      class="hidden absolute lg:static bg-black bg-opacity-80 lg:bg-transparent top-16 left-0 w-full lg:w-auto lg:space-x-6 uppercase text-sm lg:flex items-center text-white transition-all duration-300"
    >
      <ul class="flex flex-col lg:flex-row lg:items-center">
        {
          langData.items.map((item) => (
            <li>
              <a
                href={`${item.url.includes("electrocontrol") ? `/${toggleLang}/electrocontrol` : `#${item.url}`}`}
                class="block py-2 px-4 hover:text-secondaryC-orange transition-colors"
              >
                {item.name}
              </a>
            </li>
          ))
        }
        <li>
          <a
            href={`/${toggleLang}`}
            class="block py-2 px-4 hover:text-secondaryC-orange transition-colors"
          >
            {toggleLang.toUpperCase()}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<script src="../scripts/toogle_menu.ts"></script>
