---
const colors = {
  primaryC: {
    yellow: "#FFD966",
    black: "#2C2C2C",
  },
  secondaryC: {
    gray: "#E0E0E0",
    orange: "#FFA500",
  },
  neutralC: {
    white: "#FFFFFF",
    brown: "#D2B48C",
    lightGray: "#F5F5F5",
  },
};

const valores = [
  {
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="24" height="24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" class="text-secondaryC-orange">
  <path d="M17.286 21.09q -1.69 .001 -5.288 -2.615q -3.596 2.617 -5.288 2.616q -2.726 0 -.495 -6.8q -9.389 -6.775 2.135 -6.775h.076q 1.785 -5.516 3.574 -5.516q 1.785 0 3.574 5.516h.076q 11.525 0 2.133 6.774q 2.23 6.802 -.497 6.8"></path>
</svg>`,
    label: "Innovación",
  },
  {
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="24" height="24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" class="text-secondaryC-orange">
  <path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"></path>
  <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"></path>
  <path d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
</svg>`,
    label: "Excelencia",
  },
  {
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2" class="text-secondaryC-orange">
  <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
  <path d="M3.6 9h16.8"></path>
  <path d="M3.6 15h16.8"></path>
  <path d="M11.5 3a17 17 0 0 0 0 18"></path>
  <path d="M12.5 3a17 17 0 0 1 0 18"></path>
</svg>`,
    label: "Integridad",
  },
  {
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2" class="text-secondaryC-orange">
  <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
  <path d="M12 12m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"></path>
  <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
</svg>`,
    label: "Compromiso",
  },
];
---

<div
id="about"
  class="flex flex-col items-center justify-center p-6"
  style={{
    backgroundColor: colors.neutralC.white,
  }}
>
  {/* Spot o Mensaje Principal */}
  <div
    class="text-center max-w-4xl mb-12 p-8 rounded-xl shadow-lg"
    style={{
      backgroundColor: colors.secondaryC.gray,
    }}
  >
    <h1
      class="md:text-4xl text-xl font-bold mb-4"
      style={{ color: colors.secondaryC.orange }}
    >
      JUNTOS, CREAMOS SOLUCIONES SOSTENIBLES
    </h1>
    <p class="md:text-xl text-lg" style={{ color: colors.primaryC.black }}>
      somos un equipo dedicado a brindar soluciones en automatización, sistemas informáticos e implementación de industria 4.0 .
    </p>
  </div>

  {/* Sección de Información de la Empresa */}
  <div class="grid md:grid-cols-2 gap-8 max-w-6xl">
    {/* Columna de Descripción */}
    <div
      class="p-8 rounded-2xl space-y-6 shadow-lg transition-all duration-300 hover:scale-[1.02]"
      style={{
        backgroundColor: colors.neutralC.white,
        border: `2px solid ${colors.primaryC.yellow}`,
        borderRadius: "20px",
      }}
    >
      <h2
        class="text-4xl font-extrabold mb-6 text-center flex items-center justify-center gap-4"
        style={{ color: colors.secondaryC.orange }}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="12" y1="16" x2="12" y2="12"></line>
          <line x1="12" y1="8" x2="12.01" y2="8"></line>
        </svg>
        Quiénes Somos
      </h2>

      <div class="grid md:grid-cols-2 grid-col-1 gap-6">
        <div class="md:col-span-2">
          <p
            class="text-base leading-relaxed"
            style={{ color: colors.primaryC.black }}
          >
            Somos un equipo de trabajo que asiste las necesidades de nuestros
            clientes, proporcionando la tecnologia, herramientas, material,
            asesoramiento y servicios necesarios para dar soluciones segun las
            necesidades de nuestros clientes.
          </p>
        </div>
        <div
          class="p-6 rounded-xl space-y-4 transform transition-all duration-300 hover:scale-[1.03]"
          style={{
            backgroundColor: colors.neutralC.lightGray,
            border: `1px solid ${colors.primaryC.yellow}`,
          }}
        >
          <div class="flex items-center gap-3 mb-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              fill="none"
              stroke={colors.secondaryC.orange}
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="8" x2="12" y2="16"></line>
              <line x1="8" y1="12" x2="16" y2="12"></line>
            </svg>
            <h3
              class="text-2xl font-bold"
              style={{ color: colors.secondaryC.orange }}
            >
              JIDO-KA
            </h3>
          </div>
          <p
            class="text-base leading-relaxed"
            style={{ color: colors.primaryC.black }}
          >
            Metodología japonesa que se traduce como <strong
              >Automatización con enfoque humano</strong
            >. Se basa en la autonomía y la automatización inteligente,
            priorizando el papel fundamental de las personas en los procesos.
          </p>
        </div>

        <div
          class="p-6 rounded-xl space-y-4 transform transition-all duration-300 hover:scale-[1.03]"
          style={{
            backgroundColor: colors.neutralC.lightGray,
            border: `1px solid ${colors.primaryC.yellow}`,
          }}
        >
          <div class="flex items-center gap-3 mb-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              fill="none"
              stroke={colors.secondaryC.orange}
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="8" x2="12" y2="16"></line>
              <line x1="8" y1="12" x2="16" y2="12"></line>
            </svg>
            <h3
              class="text-2xl font-bold"
              style={{ color: colors.secondaryC.orange }}
            >
              IKIGAI
            </h3>
          </div>
          <p
            class="text-base leading-relaxed"
            style={{ color: colors.primaryC.black }}
          >
            Concepto japonés que representa <strong>la razón de vivir</strong>.
            Describe aquello que da significado a nuestra vida, motivándonos a
            encontrar un propósito que nos haga sentir plenamente satisfechos y
            felices.
          </p>
        </div>
      </div>
    </div>

    {/* Columna de Valores y Misión */}
    <div class="space-y-6">
      {/* Misión */}
      <div
        class="p-6 rounded-xl flex items-start space-x-4"
        style={{
          backgroundColor: colors.secondaryC.gray,
        }}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          width="72"
          height="72"
          stroke-width="2"
          class="text-secondaryC-orange"
        >
          <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M12 12m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"></path>
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
        </svg>
        <!-- <Target size={48} style={{ color: colors.secondaryC.orange }} /> -->
        <div>
          <h3
            class="text-2xl font-bold mb-2"
            style={{ color: colors.primaryC.black }}
          >
            Nuestra Misión
          </h3>
          <p style={{ color: colors.primaryC.black }}>
            Asistir las necesidades de nuestros clientes, proporcionando la
            tecnología, herramientas, asesoramiento y servicios necesarios para
            dar soluciones integrales de ingeniería.
          </p>
        </div>
      </div>

      {/* Visión */}
      <div
        class="p-6 rounded-xl flex items-start space-x-4"
        style={{
          backgroundColor: colors.secondaryC.gray,
        }}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          width="72"
          height="72"
          stroke-width="2"
          class="text-secondaryC-orange"
        >
          <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
          <path d="M3.6 9h16.8"></path>
          <path d="M3.6 15h16.8"></path>
          <path d="M11.5 3a17 17 0 0 0 0 18"></path>
          <path d="M12.5 3a17 17 0 0 1 0 18"></path>
        </svg>
        <!-- <Globe size={48} style={{ color: colors.secondaryC.orange }} /> -->
        <div>
          <h3
            class="text-2xl font-bold mb-2"
            style={{ color: colors.primaryC.black }}
          >
            Nuestra Visión
          </h3>
          <p style={{ color: colors.primaryC.black }}>
            Ser reconocidos como una empresa comprometida en brindar soluciones
            integrales de automatización en procesos. Ofreciendo calidad, valor,
            eficiencia y eficacia a nuestros proyectos.
          </p>
        </div>
      </div>

      {/* Valores */}
      <div
        class="p-6 rounded-xl"
        style={{
          backgroundColor: colors.secondaryC.gray,
        }}
      >
        <h3
          class="text-2xl font-bold mb-4 text-center"
          style={{ color: colors.primaryC.black }}
        >
          Nuestros Valores
        </h3>
        <div class="grid md:grid-cols-2 gap-4">
          {
            valores.map((valor, _) => (
              <div
                class="flex items-center space-x-2 p-2 rounded"
                style={{
                  backgroundColor: colors.neutralC.white,
                  color: colors.primaryC.black,
                }}
              >
                <Fragment set:html={valor.icon} />
                <span>{valor.label}</span>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
